.container {
	position: relative;
}
#text {
	display: none;
	background: var(--background);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 98;
	bottom: calc(5vh + 5px);
	left: calc(50% - 3.5rem);
	opacity: 0;
	min-width: 7rem;
	max-width: 15rem;
	height: auto;
	transition: opacity 0.5s;
}

#text::after {
	content: "";
	display: flex;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -10px;
	left: calc(50% - 10px);
	border-left: 10px solid transparent;
	border-top: 10px solid  var(--background);
	border-right: 10px solid transparent;
}
.container #parent:hover + #text {
	opacity: 1;
	display: flex;
}